<div class="breadcrumb-area bg-img"
  style="background-image:url(../../../assets/uploads/breadcrumb/banner_commont.jpg);">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2>Thanh toán</h2>
      <ul>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Thanh toán</li>
      </ul>
    </div>
  </div>
</div>
<div class="checkout-main-area pt-90 pb-90">
  <div class="container">
    <div class="checkout-wrap pt-30">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing-info-wrap mr-50">
            <h3>Thông tin đơn hàng</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>Họ <abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="firstName">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>Tên <abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="lastName">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Địa chỉ <abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderAddress">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label>Điện thoại <abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderPhone">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label>Email <abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderEmail">
                </div>
              </div>
            </div>
            <div class="additional-info-wrap">
              <label>Lời nhắn</label>
              <textarea placeholder="Nhập lời nhắn về đơn hàng của bạn" name="message"
                [(ngModel)]="orderNote"></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="your-order-area">
            <h3>Đơn hàng</h3>
            <div class="your-order-wrap gray-bg-4">
              <div class="your-order-info-wrap">
                <div class="your-order-info">
                  <ul>
                    <li>Sản phẩm <span>Thành tiền</span></li>
                  </ul>
                </div>
                <div class="your-order-middle">
                  <ul>
                    <li *ngFor="let product of products">{{product.name}} X {{product.quantity}}
                      <span>{{ product.quantity * product.price | currency : "VND" : true }} </span></li>
                  </ul>
                </div>
                <div class="your-order-info order-total">
                  <ul>
                    <li>Tổng tiền <span>{{totalMoney | currency : 'VND' : true}} </span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="Place-order mt-40">
              <a (click)="checkout()">Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
