<div class="cart-wrap common-style">
  <button class="cart-active">
    <i class="la la-shopping-cart"></i>
    <span class="count-style">{{total}} Items</span>
  </button>
  <div class="shopping-cart-content" style="width: 450px!important;">
    <div class="shopping-cart-top">
      <h4>Giỏ hàng của bạn</h4>
      <a class="cart-close" href="#"><i class="la la-close"></i></a>
    </div>
    <ng-container *ngIf="products.length > 0; else noCart">
      <ul>
        <li class="single-shopping-cart" *ngFor="let product of products">
          <div class="shopping-cart-img">
            <a [routerLink]="['/client/product/', product.id]"><img alt=""
                src="../../../assets/uploads/product/{{product.imageUrl}}">
            </a>
          </div>
          <div class="shopping-cart-title">
            <h4><a [routerLink]="['/client/product/', product.id]">{{product.name}}</a></h4>
            <span>{{product.price | currency : "VND" : true}}</span><span> x {{product.quantity}}</span>
          </div>
          <div class="shopping-cart-delete">
            <a><i class="la la-trash" (click)="deleteProduct(product.id)"></i></a>
          </div>
        </li>
      </ul>
      <div class="shopping-cart-bottom">
        <div class="shopping-cart-total">
          <h4>Tổng tiền <span class="shop-total">{{totalMoney | currency : "VND" : true}}</span></h4>
        </div>
        <div class="shopping-cart-btn btn-hover default-btn text-center">
          <a class="black-color" [routerLink]="['/client/cart-list']">Xem giỏ hàng</a>
        </div>
        <div class="shopping-cart-btn btn-hover default-btn text-center">
          <a class="black-color" [routerLink]="['/client/checkout']">Thanh toán</a>
        </div>
      </div>
    </ng-container>
    <ng-template #noCart>
      <p style="color: red; font-weight: bold">Không có sản phẩm nào</p>
    </ng-template>
  </div>
</div>
