<div class="slider-area">
  <div class="slider-active owl-carousel nav-style-1 dot-style-1 nav-dot-left">
    <div class="single-slider height-100vh bg-img" data-dot="01"
      style="background-image:url(../../../assets/uploads/slider/banner05.jpg);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-6 col-12 col-sm-6">
          </div>
          <div class="col-lg-7 col-md-6 col-12 col-sm-6">
            <div class="slider-content-1 slider-animated-1 ml-70">
              <h3 class="animated">30% off</h3>

              <h1 class="animated">Daxone shop</h1>
              <p class="animated">Luôn mang đến những sản phẩm chất lượng nhất và trải nghiệm tốt nhất</p>
              <div class="slider-btn-1 default-btn btn-hover">
                <a class="animated btn-color-theme btn-size-md btn-style-outline" href="">SHOP
                  NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider height-100vh bg-img" data-dot="02"
      style="background-image:url(../../../assets/uploads/slider/banner04.jpg);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-6 col-12 col-sm-6">
          </div>
          <div class="col-lg-7 col-md-6 col-12 col-sm-6">
            <div class="slider-content-1 slider-animated-1 ml-70">
              <h3 class="animated">30% off</h3>
              <h1 class="animated" style="color: rgba(255, 255, 255, 0.877)!important;">Daxone shop</h1>
              <p class="animated" style="color: rgba(255, 255, 255, 0.877)!important;">Kết nối ngay với Daxone để nhận
                các ưu đãi tuyệt vời</p>
              <div class="slider-btn-1 default-btn btn-hover">
                <a class="animated btn-color-theme btn-size-md btn-style-outline" href="">SHOP
                  NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
