<div class="breadcrumb-area bg-img" style="background-image:url(../../../../assets/images/bg/breadcrumb.jpg);">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2>blog page</h2>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active">Blog </li>
      </ul>
    </div>
  </div>
</div>
<div class="blog-area pt-90 pb-90">
  <div class="container">
    <div class="row grid">
      <div class="grid-sizer"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-4.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 22+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-5.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 23+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-6.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 24+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-7.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 25+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-8.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 26+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-9.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 27+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-10.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 28+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-12.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 29+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-11.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 30+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-13.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 50+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 grid-item">
        <div class="blog-wrap mb-45">
          <div class="blog-img mb-25">
            <a href="blog-details.html"><img src="../../../../assets/images/blog/blog-14.jpg" alt="blog"></a>
          </div>
          <div class="blog-content-2">
            <h3><a href="#">Best wooden angle, with soft cotton seat.</a></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text.</p>
            <div class="blog-meta">
              <div class="blog-author">
                <a href="#">By: Jone Livers</a>
              </div>
              <div class="blog-like">
                <a href="#"><i class="la la-thumbs-up"></i> 60+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-style text-center">
      <ul>
        <li><a class="prev" href="#"><i class="la la-angle-left"></i></a></li>
        <li><a href="#">01</a></li>
        <li><a href="#">02</a></li>
        <li><a class="active" href="#">03</a></li>
        <li><a href="#">04</a></li>
        <li><a href="#">05</a></li>
        <li><a href="#">06</a></li>
        <li><a class="next" href="#"><i class="la la-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
