<div class="banner-area pt-100 pb-100">
  <div class="container">
    <div class="bg-img pt-100 pb-100 learn-banner"
      style="background-image:url(../../../assets/uploads/slider/banner01.jpg);">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-11">
          <div class="banner-content">
            <h2 style="color: rgba(255, 255, 255, 0.836)!important;">Xe Đạp <br>Địa hình</h2>
            <a href="" style="color: rgba(255, 255, 255, 0.836)!important;">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
